@import '@styles/variables.scss';

.character-cards {
	display: flex;
	margin: 0 -1em;
	position: relative;
	flex-wrap: wrap;
	justify-content: center;
}
.character-card.loading-state {
	align-items: stretch;
}
.character-card {
	flex: 1 1 0px;
	min-width: 500px;
	max-width: 800px;
	box-sizing: border-box;
	padding: 2em;
	margin: 0 1em 2em;
	background-color: lighten( $base-color, 5% );
	border: 2px solid darken( $base-color, 1% );
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.2 );
	transition: 0.3s;
	position: relative;

	&:hover {
		box-shadow: 0 8px 16px 0 rgba( 0, 0, 0, 0.2 );
	}

	hgroup {
		margin: 0 0 1.5em;
	}

	.character-card__delete {
		appearance: none;
		background: transparent;
		visibility: hidden;
		position: absolute;
		right: 0;
		top: 0;
		line-height: 0;
		margin: -1.25em -1.75em;
		@include grow;
		&:after {
			visibility: visible;
			content: 'x';
			display: inline-block;
			box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.2 );
			background: lighten( $base-color, 30% );
			color: $base-color;
			font-size: 1.2em;
			box-sizing: border-box;
			border-radius: 5em;
			line-height: 1ch;
			padding: 1.5ch;
			font-weight: bold;
			cursor: pointer;
		}
		&:hover:after {
			background-color: $accent-color;
			color: white;
		}
	}
}
