@import 'css/variables.scss';

.inline-data {
	display: inline;
	border: 0;
	outline: 0;
	padding: 0;
	cursor: pointer;
	color: inherit;
	font-size: inherit;
	line-height: inherit;

	&:not(:first-child) {
		margin-right: 0.3em;
	}

	&:not(:last-child) {
		margin-left: 0.3em;
	}

	.inline-data__button {
		appearance: none;
		outline: 0;
		width: 0;
		height: 0;
		border: 0;
		outline: 0;
		padding: 0;
		background: transparent none;
	}

	.inline-data__value {
		display: inline;
		transition: 0.3s all;
		padding: 0.2em 0;
		border-bottom: 2px solid lighten( $base-color, 30% );
	}

	&:hover .inline-data__value,
	.inline-data__button:focus + .inline-data__value {
		border-color: $accent-color;
	}

	.inline-data-value--capitalize {
		text-transform: capitalize;
	}
}
