@import '@styles/variables.scss';

ul.trait-list {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: left;
	display: table;
	width: auto;
	li {
		line-height: 2;
		display: table-row;
		> strong {
			padding: 0;
			display: table-cell;
			color: lighten( $base-color, 30% );
			white-space: nowrap;
			font-weight: 400;
			text-align: right;
			vertical-align: top;
			&:after {
				content: ':';
				padding-right: 0.75em;
			}
		}
		> div {
			padding: 0 0 0.75em;
			display: table-cell;
			vertical-align: top;
		}
		p:last-child {
			margin: 0;
		}
		cite {
			display: block;
			font-size: 0.75em;
			text-transform: lowercase;
			color: lighten( $base-color, 30% );
		}
		.loading-state {
			font-size: 1.5em;
			padding: 0;
			margin: 0 auto 1.5em;
			background: none;
			text-align: center;
			svg {
				font-size: 1em;
			}
		}
		.trait__actions {
			padding: 0;
			white-space: nowrap;
			button {
				vertical-align: middle;
				font-size: 1.1rem;
				height: 100%;
				display: inline-block;
				width: auto;
				margin: 0 0 0 0.75em;
			}
		}
	}
}
