@import '../../variables.scss';

footer.site-footer {
	margin: 4.5em auto 1.5em auto;
	font-size: 1rem;
	line-height: 1.5em;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		display: flex;
		justify-items: stretch;

		li {
			margin: 0;
			padding: 0;
			flex: 1 1 auto;
			text-align: center;
			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
		}
	}
}
