@import 'css/variables.scss';

.npc-generator__options {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 0;

	.field {
		min-width: 200px;
		flex: 1 1 0px;
		margin: 5px;
	}
}

p.content-description {
	font-size: 1em;
	background: rgba( 0, 0, 0, 0.2 );
	padding: 1.5em;
	margin: 1em 0;
	border-radius: 1px;
	em {
		color: wheat;
		font-style: italic;
	}
}
